b
b.pub
__pycache__/chef.cpython-37.pyc
__pycache__/calificacion.cpython-37.pyc
__pycache__/cookassist.cpython-37.pyc
__pycache__/datos.cpython-37.pyc
__pycache__/mensajes.cpython-37.pyc
__pycache__/producto.cpython-37.pyc
__pycache__/usuario.cpython-37.pyc
__pycache__/detalleReceta.cpython-37.pyc
__pycache__/receta.cpython-37.pyc
